.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.info {
  display: flex;
  font-size: large;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.info p {
  text-align: center;
  width: 200px;
}

.infoBlur {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.infoBlur p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-align: center;
  width: 150px;
}

.student {
  display: flex;
  font-size: large;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.student p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 190px;
}

.studentBlur {
  display: flex;
  font-size: large;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.studentBlur p {
  text-align: center;
  width: 200px;
}

.modal {
  background-color: rgb(31, 31, 31);
  position: fixed;
  height: 50%;
  width: 50%;
  top: 200px;
  right: 320px;
}

.modal>p {
  font-size: 27px;
  font-weight: 600;
}

.fix {
  background-color: rgb(39, 39, 39);
}

.fix>p {
  font-size: 30px;
  font-weight: bold;
}

.close {
  display: flex;
  justify-content: flex-end;
}

._closeItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._closeItem:hover {
  cursor: pointer;
  color: red;
}